<?xml version="1.0"?>
<launch>

  <arg name="world" default="room"/>
  <arg name="ign_args" default=""/>

  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 1 $(find multi_sim_init)/models/world.sdf"/>
  </include>


  <node
    pkg="ros_ign_gazebo"
    type="create"
    name="husky0"
    output="screen"
    args="-world $(arg world) -file $(find multi_sim_init)/models/husky.sdf -name husky0 true -z 1 -y -1 -Y -1">
  </node>
  <node
    pkg="ros_ign_gazebo"
    type="create"
    name="husky1"
    output="screen"
    args="-world $(arg world) -file $(find multi_sim_init)/models/husky.sdf -name husky1 true -z 1 -y 1 -Y 1">
  </node>
</launch>
