<?xml version="1.0"?>
<launch>
  <!-- Following setting may result in CONFLICT, UNTESTED -->
  <arg name="models_path" default="$(find multi_sim_init)/models"/>
  <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(arg models_path):$(optenv IGN_GAZEBO_RESOURCE_PATH '')"/>

<!-- World -->
  <arg name = "world" default = "office"/>
  <arg name="ign_args" default=""/>
  <!-- remove -v 4 to stop verbose, or reduce 4-->
  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <!-- <arg name="ign_args" value="-r -s $(find multi_sim_init)/models/office.sdf"/> -->
    <arg name="ign_args" value=" -r -v 1 $(find multi_sim_init)/models/office.sdf"/>
  </include>

<!-- Rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find multi_sim_init)/rviz/semantic_room.rviz"/>
<!-- Robot 1 -->
  <include file="$(find multi_sim_init)/launch/semantic_init.launch">
    <arg name = "world" value ="$(arg world)" />
    <arg name="robot_name" value="husky_1"/>
    <arg name="x" value="32"/>
    <arg name="y" value="12"/>
    <arg name="z" value="0.2"/>
    <arg name="yaw" value="1.5"/>
  </include>

<!-- Robot 2 -->
  <include file="$(find multi_sim_init)/launch/semantic_init.launch">
    <arg name = "world" value ="$(arg world)" />
    <arg name="robot_name" value="husky_2"/>
    <arg name="x" value="2"/>
    <arg name="y" value="8"/>
    <arg name="z" value="0.2"/>
    <arg name="yaw" value="-1.5"/>
  </include> 

<!-- Robot 3 -->
  <!-- <include file="$(find multi_sim_init)/launch/semantic_init.launch">
    <arg name = "world" value ="$(arg world)" />
    <arg name="robot_name" value="husky_3"/>
    <arg name="x" value="-20"/>
    <arg name="y" value="12"/>
    <arg name="z" value="0.2"/>
    <arg name="yaw" value="1.5"/>
  </include>  -->

<!-- Robot 4 -->
  <!-- <include file="$(find multi_sim_init)/launch/semantic_init.launch">
    <arg name = "world" value ="$(arg world)" />
    <arg name="robot_name" value="husky_4"/>
    <arg name="x" value="50"/>
    <arg name="y" value="-1"/>
    <arg name="z" value="0.2"/>
    <arg name="yaw" value="-1"/>
  </include>  -->

</launch>